body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(135deg, #ffffff 0%, #ff4040 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    color: #ff0000; /* Texto blanco para mayor contraste */
  }
  
  h1 {
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  .feed-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Adaptable a pantallas pequeñas */
    gap: 20px; /* Espacio entre tarjetas */
    padding: 20px;
    width: 90%;
    max-width: 1200px; /* Limita el ancho en pantallas grandes */
  }
  
  .card {
    width: 100%;
    max-width: 300px; /* Limita el ancho máximo */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }
  
  .card video {
    width: 100%;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 0 0;
  }
  
  .card .info {
    padding: 15px;
    text-align: center;
    font-size: 0.95rem;
    color: #333;
  }
  
  .card .info p {
    margin: 5px 0;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    body {
      padding: 10px 0;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    .feed-container {
      gap: 15px;
    }
  }

  .back-button {
    display: block;
    margin: 20px auto;
    background-color: #7c0101;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .back-button:hover {
    background-color: #7c010180;
    transform: scale(1.05);
  }
  